html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}
.About {
	text-align: center;
}

.title {
	font-size: 25px;
}

body {
	background-color: #98ccd3;
}

header {
	background-color: #fff;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 142px;
	padding-right: 142px;
	background-color: #132238;
}

header nav h1 {
	font-size: 28px;
	font-weight: 600;
}

header nav .tabs {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

header nav .tabs .tab {
	display: block;
}

header nav .tabs .tab a[data-switcher] {
	display: block;
	padding: 15px 30px;
	text-decoration: none;
	color: #fff;
	background-color: black;
	cursor: pointer;
}

header nav .tabs .tab:hover a[data-switcher] {
	background-color: #98ccd3;
	color: #132238;
}

header nav .tabs .tab.is-active a[data-switcher] {
	background-color: #98ccd3;
	font-weight: 900;
	color: #132238;
}

main {
	padding-left: 142px;
	padding-right: 142px;
	padding-bottom: 101px;
}

.pages {
	margin-top: 100px;
	padding: 280px 30px;
	border-radius: 8px;
	background-color: #ebf0f6;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.pages .page {
	display: none;
}

.pages .page.is-active {
	display: block;
}

h1 {
	color: #eee;
}
img {
	border-radius: 4px;
	width: 250px;
	float: left;
	margin-right: 1rem;
	shape-outside: circle(50%);
}
/* about Styles */
.link {
	color: black;
}
.about {
	text-align: center;
	margin-top: -200px;
}
.aboutVideo {
	margin-top: 20px;
}

/* Footer Styles */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #132238;
	color: #fff;
	text-align: center;
	display: block;
}

.social-footer-ul .fa {
	color: white;
	padding-right: 5px;
	padding-top: 5px;
}

.social-footer-ul .fa:hover {
	color: lightblue;
	transition: color 0.3s ease-in;
}
.social-footer-ul {
	float: right;
	display: block;
	padding-right: 150px;
}

.copyright {
	float: left;
	display: block;
	padding-left: 150px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.nav_menu {
		bottom: 0;
		width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
